@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

$myspicycolor: #FF0000;

.spicyClass {
    background-color: black;
    color: pink;

    &-someothershit {
        background-color: $myspicycolor;
    }

    &-owowhatsthis {
        background-color: white;
        color: black;
    }
}

#owo {
    background-color: $myspicycolor;
}
