@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

$primary-color-white: #FFFFFF;
$primary-color-black: #000000;
$primary-color-yellow: #FFD83E;
$primary-color-green: #9EB238;
$primary-color-lightgrey: #EEEEEE;

body {
    background: $primary-color-lightgrey;
}

.primary {
    &-title {
        color: $primary-color-green;
    }
}

.page {
    &-home {
        background: $primary-color-white;

        &-title {
            font-weight: 800;
            color: $primary-color-green;
        }

        &--about {
            li {
                list-style: none;
            }

            b {
                font-size: 1rem;
                color: $primary-color-green;
            }

            a {
                color: $primary-color-yellow;
            }
        }

        &--sidebar {
            display: flex;
            flex-flow: column;
            min-height: 600px;

            border-top-style: solid;
            border-top-color: $primary-color-lightgrey;

            @media (min-width: 768px) {
                border-top-style: none;

                border-left-style: solid;
                border-left-color: $primary-color-lightgrey;
            }

            &-cms {
                border-style: solid;
                border-width: 2px;
                border-color: $primary-color-lightgrey;

                a {
                    color: $primary-color-yellow;
                }

                b {
                    color: $primary-color-green;
                }

                li {
                    list-style: none;
                }

                ul {
                    margin-bottom: 0;
                }
            }
        }

        &--email {
            background: url("/images/honeycomb_patern.png");
            color: $primary-color-white;

            &-form {
                width: 100%;

                @media (min-width: 768px) {
                    width: 50%;
                }
            }


            &-button {
                background: $primary-color-green;
                color: $primary-color-white;
                border: 0;
            }
        }
    }

    &-agenda {
        background: $primary-color-white;

        &-title {
            font-weight: 800;
            color: $primary-color-green;
        }

        &--events {
            li {
                list-style: none;
            }

            b {
                font-size: 1rem;
                color: $primary-color-green;
            }

            a {
                color: $primary-color-yellow;
            }
        }
    }
}

.twitter-timeline {
    height: 100% !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: $primary-color-lightgrey !important;
}

.btn-primary {
    color: black;
    background-color: $primary-color-yellow;
    border-color: black;

    &:hover{
        background-color: $primary-color-yellow;
        border-color: black;
    }
}

.card {
    border:0px;

}

.card-header {
    background-color: #EEEEEE;
}

.navigation {
    background: $primary-color-white;
    color: $primary-color-black;

    a {
        font-size: 1rem;
        color: $primary-color-black;

        &:hover {
            color: grey;
        }
    }

    &-mobile-overlay {
        background: $primary-color-white;
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;

        &--sidebar {
            background: $primary-color-lightgrey;

            &-button {
                font-size: 10vh !important;
                text-align: center;
            }
        }

        &--navigation-item {
            background: $primary-color-green;

            a {
                color: $primary-color-white;
            }
        }
    }

    &-hamburger-mobile {
        font-size: 3rem;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

#left-panel {
    background-image: url('/images/loginBackground.jpeg');

    height: 100vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
